.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    justify-content: center;
}

.pagination .page-item .page-link {
    color: #007bff;
    text-decoration: none;
}

.pagination .page-item .page-link:hover {
    background-color: #e9ecef;
}

.pagination .page-item.active .page-link {
    font-weight: normal; /* Ensure font-weight is normal */
    background-color: #007bff;
    border-color: #007bff;
}


